.About {
    height: 70%;
    background-color: rgb(211, 237, 229);
}

.inner {
    display: flex;
    height: 100%;
    margin-top: 10px;
}

.about_me {
    width: 35vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    margin: 0;
    margin-top: 3vh;
    text-align: center;
}

.photo {
    width: 13em;
    height: 240px;
    margin-top: 50px;
    background-image: url(../../public/img/img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.intro {
    width: 100%;
    align-items: center;
    justify-content: center;
}
