.Contents {
    height: calc(100% - 1.1vh);

    /* 스크롤생성 */
    overflow: auto;

    /* 스크롤 바 제거 */
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

/* 스크롤 바 제거 */
.Contents::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.ubutton {
    height: 3rem;
    width: 3rem;

    position: fixed;
    bottom: 8rem;
    right: 3rem;

    border-radius: 50%;

    cursor: pointer;
    background-color: white;
    background-image: url("./../logo/ubutton.png");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
}

.dbutton {
    height: 3rem;
    width: 3rem;

    position: fixed;
    bottom: 3rem;
    right: 3rem;

    border-radius: 50%;

    cursor: pointer;
    transform: scaleY(-1);
    background-color: white;
    background-image: url("./../logo/ubutton.png");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
}
