.Header {
    display: flex;
    height: 6vh;
    align-items: center;
}

.btn_items {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn_item {
    margin: 0 0.5rem;
    border: none;
    cursor: pointer;
}
