.Header {
    display: flex;
    height: 6vh;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: black;
    opacity: 0.8;
}

.inner {
    display: flex;
    width: 70%;
    align-items: center;
}

.inner p {
    color: white;
}

.title {
    width: 80%;
}

.btn_items {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn_item {
    margin: 0 0.5rem;
    border: none;
    cursor: pointer;
}
