.Main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
        url(../../public/img/Main.jpg);
    background-size: cover;
    background-repeat: no-repeat; /* 배경 반복 금지 */
}

.inner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.typewriter h1 {
    overflow: hidden;
    font-size: 4vw;
    border-right: 0.15em solid white;
    white-space: nowrap; /*스크롤바 제거*/
    margin: 0 auto;
    color: white;
    letter-spacing: 0.15em;
    animation: typing 1.5s steps(20, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

/* @media screen and (max-width: 800px) {
    .typewriter h1 {
        font-size: 2rem;
    }
} */
