.Skills {
    /* height: 100%; */
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    height: 98%;
    width: 60%;
    margin-top: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 6%;
    flex-direction: column;
    /* justify-content: center; */
}

.inner > h1 {
    color: white;
    margin: 0;
    margin-top: 6%;
    margin-bottom: 2vh;
    text-align: center;
}

.Main {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 3%;
}

.Main h1 {
    color: white;
    margin: 0;
    text-align: center;
    margin-bottom: 4rem;
}

.skills {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main_skill {
    width: 40%;
    padding: 10px;
    margin: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px 30px;
}

.sub_skill {
    padding: 10px;
    margin: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px 30px;
}

.skill_logo {
}

.logo {
    width: 90px;
    height: 90px;

    margin-bottom: 5px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.skill_main {
    width: 70%;
    padding-left: 10px;
}

.skill_name h1 {
    color: black;
    margin: 0;
    margin-bottom: 5px;
}

.skill_explain p {
    margin: 0;
}

.Sub {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
}

.Sub h1 {
    color: white;
    margin: 0;
    text-align: center;
    margin-bottom: 4rem;
}

#progress {
    appearance: none;
}
#progress::-webkit-progress-bar {
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius: 10px;
    background: #1d976c;
    background: -webkit-linear-gradient(to right, #93f9b9, #1d976c);
    background: linear-gradient(to right, #93f9b9, #1d976c);
}
